<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-group">
    Email:
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="field">
    Password:
    <% if @minimum_password_length %>
    <em>(at least <%= @minimum_password_length %> characters)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
  </div>

  <div class="field">
    Confirm password:
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: 'button expanded' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
